html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  padding: 0;
  border: 0;
  font-size: 100%;
  font: sans-serif;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ---------------------------------------------------------------------*/
@font-face {
  font-family: 'principal';
  src: url("fonts/Roboto-Thin.ttf"); }

/* ------------------------- HEADER & FOOTER --------------------------------------- */
header {
  background-color: #1E1E1E;
  color: #EFEFEF;
  height: 90px;
  box-shadow: 2px 2px 30px grey; }

.iconoBlanco {
  color: white; }

.iconosHeader {
  margin: 0px; }

#logoLogeado {
  margin-top: 0.3%;
  max-width: 85%;
  max-height: 85%;
  display: inline-block;
  margin-left: 5%; }

.iconoRole {
  color: #EFEFEF;
  width: 40px;
  height: 40px; }

#iconoUsuario {
  position: relative;
  display: inline-block;
  float: right;
  margin-right: 0%;
  margin-top: 3.3%; }

footer {
  position: fixed;
  bottom: 0;
  background: #1E1E1E;
  width: 100%;
  height: 70px; }

#logo {
  padding-top: 0.5%;
  max-width: 85%;
  max-height: 85%;
  display: block;
  margin: auto; }

#logoGFI {
  padding-left: 5%;
  padding-top: 0.5%;
  display: inline;
  max-width: 85%;
  max-height: 85%; }

#magniVersion {
  display: inline;
  float: right;
  color: #EFEFEF;
  margin-top: 2%;
  margin-right: 2%; }

#doneLoading {
  height: 5px;
  position: relative;
  background-color: #EF6C00;
  top: 8%;
  box-shadow: 2px 2px 30px grey; }

#progressBar {
  top: 8%;
  box-shadow: 2px 2px 30px grey; }

md-progress-linear .md-bar {
  background-color: #EF6C00; }

md-progress-linear .md-container {
  background-color: rgba(239, 108, 0, 0.17); }

/* ------------------------- LOG IN --------------------------------------- */
.logIn {
  font-family: 'Roboto', sans-serif;
  background-color: #F5F5F5;
  -webkit-box-shadow: 1px 2px 40px 1px grey;
  -moz-box-shadow: 1px 2px 40px 1px grey;
  box-shadow: 1px 2px 40px 1px grey;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 480px;
  height: 290px; }

.enBloque {
  margin: auto;
  padding-top: 10px;
  width: 325px;
  height: 60px; }

.enBloqueCentrado {
  margin: auto;
  padding-top: 45px;
  padding-bottom: 8px;
  width: 325px;
  height: 60px; }

.derecha {
  text-align: right;
  padding-right: 13%; }

/*Textbox*/
md-input-container:not(.md-input-invalid).md-input-focused .md-input {
  border-color: #EF6C00; }

md-input-container:not(.md-input-invalid).md-input-focused label {
  color: #EF6C00; }

/*Checkbox*/
md-checkbox.md-checked .md-ink-ripple {
  color: #EF6C00; }

md-checkbox.md-checked .md-icon {
  background-color: #EF6C00; }

md-checkbox.md-default-theme.md-checked.md-focused .md-container:before, md-checkbox.md-checked.md-focused .md-container:before {
  background-color: rgba(239, 108, 0, 0.17); }

/*Button*/
.md-button.md-raised {
  color: #FFFFFF;
  background-color: #EF6C00;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%; }

.md-input-container .md-input {
  width: 300px; }

.md-button.md-raised:not([disabled]):hover {
  background-color: #F19E5A; }

/*Toast*/
md-toast.md-default-theme, md-toast {
  background-color: #EF6C00;
  color: #EFEFEF; }

md-toast.md-default-theme .md-toast-content, md-toast .md-toast-content {
  background-color: #EF6C00; }

.md-button.md-raised:not([disabled]).md-focused {
  background-color: #EF6C00; }

.md-button.md-ink-ripple:not([disabled]).md-focused {
  background-color: rgba(158, 158, 158, 0.2); }

/*Tab*/
md-tabs.md-accent > md-tabs-wrapper {
  background-color: white; }

md-content md-tabs {
  background: #F6F6F6;
  vertical-align: middle; }

md-tabs.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]) {
  color: #B5B4B4; }

md-tabs.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active {
  color: #1E1E1E; }

md-tabs.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-ink-bar {
  color: #EF6C00;
  background: #EF6C00; }

md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
  min-height: 300px; }

.md-padding {
  padding: 0px; }

/*------------------------------TECNICO*------------------------------*/
/*md-chips*/
md-chips .md-chip.md-focused {
  background-color: #EF6C00; }

.md-autocomplete-suggestions li:not(.md-not-found-wrapper):hover {
  background-color: rgba(239, 108, 0, 0.17); }

.md-autocomplete-suggestions li:not(.md-not-found-wrapper).selected {
  background-color: rgba(239, 108, 0, 0.17); }

.centrarIconoLista {
  margin-top: 2.5%; }

/*Crear pregunta*/
.alert {
  padding: 0px 20px;
  margin-top: 5px; }

.alert-info {
  color: #CC641D;
  background-color: #F5EAC6;
  border-color: #CC7206; }

.okCrearTema md-icon {
  color: #62C800; }

.okCrearTema.md-button.icon.md-ink-ripple:hover {
  border-radius: 50%;
  background-color: rgba(203, 255, 197, 0.51); }

.cancelCrearTema md-icon {
  color: red; }

.cancelCrearTema.md-button.icon.md-ink-ripple:hover {
  border-radius: 50%;
  background-color: rgba(255, 197, 197, 0.41); }

.enLinea {
  display: inline-block; }

.md-button.md-fab {
  background-color: #EF6C00; }

.md-button.md-fab:not([disabled]):hover {
  background-color: #F19E5A; }

.md-button.md-fab:not([disabled]).md-focused {
  background-color: #BC5500; }

.btnIconoCentrado {
  margin-left: 3px;
  margin-top: 1px; }

.btnPosDerecha {
  margin-right: 12%; }

md-toolbar:not(.md-menu-toolbar) {
  background-color: #EF6C00;
  color: #EFEFEF; }

.dialogdemoBasicUsage #popupContainer {
  position: relative; }

md-dialog.md-transition-in.redimensionar {
  margin: auto;
  min-width: 700px;
  min-height: 300px;
  max-height: 700px; }

md-tabs .md-tab.md-active {
  color: #1E1E1E; }

md-tabs .md-tab .md-ripple-container {
  color: rgba(255, 141, 0, 0.26); }

md-tabs md-ink-bar {
  background: #EF6C00; }

.contenidoTablaCrear {
  padding: 22px; }

md-slider .md-thumb:after {
  border-color: #EF6C00;
  background-color: #EF6C00; }

md-slider .md-sign {
  background-color: #EF6C00; }

md-slider .md-sign:after {
  border-top-color: #EF6C00; }

md-slider .md-track.md-track-fill {
  background-color: #EF6C00; }

.sliderdemoBasicUsage input[type="number"] {
  text-align: center;
  padding-left: 10px; }

md-chips .md-chips.md-focused {
  box-shadow: 0 2px #EF6C00; }

md-radio-button.md-checked .md-off {
  border-color: #EF6C00; }

md-radio-button .md-on {
  background-color: #EF6C00; }

md-radio-group .md-checked .md-ink-ripple {
  color: rgba(255, 161, 0, 0.26); }

.md-checked .md-container:before {
  background-color: rgba(255, 141, 0, 0.26); }

md-input-container.md-block.respuesta {
  display: inline-block;
  width: 90%; }

md-radio-button {
  display: inline-block;
  float: left;
  padding-top: 2%; }

md-checkbox.respuesta {
  padding-top: 5%;
  margin: 0; }

md-radio-group.md-default-theme.md-focused:not(:empty) .md-checked .md-container:before, md-radio-group.md-focused:not(:empty) .md-checked .md-container:before {
  background-color: rgba(239, 108, 0, 0.17); }

.hoverLista:hover {
  background-color: rgba(189, 136, 74, 0.1); }

/* ------------- Ver pregunta --------------------- */
md-dialog.md-transition-in {
  width: 350px; }

.md-button.md-default-theme.md-primary, .md-button.md-primary {
  background-color: #EF6C00;
  color: #FFFFFF; }

.md-button.md-default-theme:not([disabled]).md-focused, .md-button:not([disabled]).md-focused {
  background-color: #EF6C00; }

md-checkbox[disabled].md-checked .md-icon {
  background-color: #EF6C00; }

md-checkbox[disabled] .md-label {
  color: #1E1E1E; }

.displayInline {
  display: inline; }

#textoTemaNivel {
  margin-bottom: 3%;
  font-weight: bold; }

#textoTitulo {
  margin-bottom: 3%;
  text-align: center;
  font-size: 150%; }

#textoDirectiva {
  margin-bottom: 7%;
  margin-left: 6%; }

/*div del md-chips para buscar por temas*/
.buscarTemas {
  margin-top: 1%;
  margin-left: 10%;
  margin-right: 10%; }

.md-button.md-fab.md-mini {
  float: right; }

.md-button.md-fab.md-mini.adminBtn {
  float: right;
  margin-top: 1.8%;
  margin-right: -11%; }

.md-button.md-fab.md-mini.tec {
  float: right;
  margin-top: 1.8%;
  margin-right: -5%; }

.explosionIcono.md-button .md-ripple-container {
  border-radius: 50%; }

.md-button.icon.md-ink-ripple {
  min-width: 0;
  line-height: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%; }

.md-button.icon.md-ink-ripple:focus {
  background: #F6F6F6;
  border-radius: 50%; }

.md-button.icon.md-ink-ripple:hover {
  border-radius: 50%;
  background-color: rgba(119, 113, 113, 0.41); }

md-icon {
  color: #5D5D5D; }

/*lista de preguntas*/
md-list md-list-item.md-3-line .md-list-item-text h3, md-list.md-default-theme md-list-item.md-3-line .md-list-item-text h4, md-list md-list-item.md-3-line .md-list-item-text h4 {
  color: #5D5D5D; }

.iconoBuscar {
  float: right;
  margin-top: 1.5%;
  margin-right: 13%;
  z-index: auto; }

.listaPreguntas {
  height: 600px;
  margin-bottom: 70px;
  overflow: auto;
  margin-left: 10%;
  margin-right: 10%; }

.buscarTemas .md-chips .md-chip-input-container md-autocomplete input {
  padding-left: 8%; }

.md-subheader .md-subheader-content {
  margin-top: 1%;
  margin-right: 10%;
  margin-left: 9%;
  font-size: xx-large; }

/*Divider de preguntas */
md-divider.dividerPrincipal {
  margin-right: 10%;
  margin-left: 10%; }

/*items de la lista de preguntas*/
md-list-item.md-3-line, md-list-item.md-3-line > .md-no-style {
  padding-left: 2%;
  padding-right: 1%; }

md-list md-list-item.md-3-line .md-list-item-text h3 {
  font-weight: bolder; }

/*confirmacion*/
.md-button.md-raised.confirm {
  width: 5%;
  margin-right: 0%;
  margin-left: 0%;
  margin-top: 0%;
  margin-bottom: 0%; }

/*------------------------------ADMIN----------------------*/
md-datepicker.adminFecha {
  margin-left: -15%; }

.md-datepicker-open .md-datepicker-calendar-icon {
  fill: #EF6C00; }

.md-datepicker-input-container.md-datepicker-focused {
  border-bottom-color: #EF6C00; }

.md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator {
  background-color: #EF6C00; }

.md-calendar-date.md-calendar-date-today .md-calendar-date-selection-indicator {
  border: 1px solid #EF6C00; }

/*Range Slider*/
rzslider .rz-bubble.rz-limit {
  opacity: 0 !important; }

rzslider .rz-pointer:after {
  display: none;
  background: none; }

rzslider .rz-pointer:hover:after {
  display: none;
  background-color: none; }

rzslider .rz-pointer {
  background-color: #EF6C00;
  top: -7px;
  width: 16px;
  height: 16px;
  left: 634px; }

rzslider .rz-bar.rz-selection {
  background: #EF6C00; }

rzslider .rz-pointer.rz-active:after {
  display: none; }

rzslider .rz-bar {
  height: 2px;
  width: 99%; }

rzslider .rz-bar-wrapper {
  opacity: 1;
  width: 640px;
  left: 8px; }

.letraNegrita {
  font-weight: bold;
  font-family: sans-serif; }

.mensajeEntrevista {
  padding-top: 10px;
  padding-left: 15px;
  font-size: 12px;
  color: #A5A5A5; }

.mensajeEntrevistaCreada {
  padding: 40px;
  padding-left: 160px; }

.txtMensajeEntrevista {
  padding-left: 60px; }

.btnMensajeEntrevista.md-button.md-raised {
  margin-left: 0px; }

/* ------------------- ENTREVISTA ---------------------------*/
.nota {
  color: red;
  padding-right: 15px; }

.letraPequenia {
  font-size: 11px; }

.infoNota {
  padding: 20px;
  width: 95%; }

.directivaEntrevista {
  padding: 15px;
  width: 100%; }

.entendidoCrearEntrevista md-icon {
  color: #8A6D3B; }

.cortarAlertWarning {
  width: 95%; }

.admin {
  padding-right: 0px;
  margin-right: 10%;
  margin-top: 4px;
  float: right; }

.adminCheck {
  padding-top: 1.9%;
  margin-left: 6%; }

.puntos {
  margin-left: -4%;
  position: absolute;
  margin-top: 2%; }

md-datepicker {
  float: left; }

md-input-container.minutos {
  width: 28%;
  margin-left: -1%;
  margin-top: 0.44%;
  margin-right: 2%; }

md-input-container.horas {
  width: 33%;
  margin-top: 0.44%;
  margin-right: 2%;
  margin-left: 2%; }

.md-datepicker-input-container.crear {
  margin-left: 0px;
  width: 22%; }

md-autocomplete {
  width: 75%;
  width: 75%; }

.md-button.md-raised.error {
  width: 0%;
  margin: 0; }

input.minutos {
  width: 82%; }

input.horas {
  width: 83%; }

.respuestas {
  font-size: 13px;
  margin: 0px;
  width: 500px; }

.contenedorRespuestas {
  padding-bottom: 20px; }

.entrevistado {
  height: 600px;
  margin-bottom: 70px;
  overflow: auto;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%; }

.dividerCorto {
  width: 95%;
  border-top-color: rgba(81, 80, 80, 0.4); }

.btnEntrevistadoGuardar.md-button.md-raised {
  width: 25%;
  margin-left: 32%; }

.checkMostrarEntrevistas {
  display: inline-block;
  font-size: 14px;
  left: 9.8%; }

.letraCursiva {
  font-style: italic; }

md-radio-button[disabled] {
  color: #1E1E1E; }

.correccionRespuestas md-checkbox {
  padding-left: 0px;
  padding-right: 3px; }

.respuestas md-radio-button {
  padding-top: 0px; }

/*--------------------- media queries ------------------------*/
@media screen and (min-height: 1024px) {
  .listaPreguntas {
    height: 975px;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 70px; }
  md-divider.dividerPrincipal {
    margin-right: 0%;
    margin-left: 0%; }
  .md-subheader .md-subheader-content {
    margin-right: 0%;
    margin-left: 0%; }
  .buscarTemas {
    padding-left: 2%;
    margin-top: 1%;
    margin-left: 0%;
    margin-right: 0%; }
  .md-button.md-fab.md-mini {
    float: right;
    margin-top: 1%;
    margin-right: 1%; }
  .cortarAlertWarning {
    width: 90%; } }

@media screen and (min-height: 620px) and (max-height: 700px) {
  .listaPreguntas {
    height: 300px; }
  .cortarAlertWarning {
    width: 90%; } }

@media screen and (min-height: 801px) and (max-height: 900px) {
  .listaPreguntas {
    height: 500px; } }

@media screen and (min-height: 801px) {
  .cortarAlertWarning {
    width: 90%; } }

@media screen and (min-height: 701px) and (max-height: 800px) {
  .listaPreguntas {
    height: 400px; }
  .cortarAlertWarning {
    width: 90%; } }

@media screen and (min-height: 560px) and (max-height: 620px) {
  .listaPreguntas {
    height: 250px; }
  .cortarAlertWarning {
    width: 95%; } }

@media screen and (min-height: 510px) and (max-height: 561px) {
  .listaPreguntas {
    height: 200px; } }

@media screen and (min-height: 250px) and (max-height: 511px) {
  .listaPreguntas {
    height: 140px; } }

@media screen and (max-width: 784px) {
  .listaPreguntas {
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 70px;
    width: 99%; }
  md-divider.dividerPrincipal {
    margin-right: 0%;
    margin-left: 0%; }
  .md-subheader .md-subheader-content {
    margin-right: 0%;
    margin-left: 0%; }
  .buscarTemas {
    padding-left: 2%;
    margin-top: 1%;
    margin-left: 0%;
    margin-right: 0%; }
  .md-button.md-fab.md-mini {
    float: right;
    margin-top: 1%;
    margin-right: 1%; }
  #iconoUsuario {
    margin-top: 6.5%; } }

@media screen and (max-height: 620px) {
  md-dialog.md-transition-in.redimensionar {
    float: inherit;
    min-height: 100%;
    max-height: 100%;
    min-width: 100%;
    max-width: 100%;
    overflow-y: hidden; }
  md-datepicker {
    float: left; }
  .md-datepicker-input-container.crear {
    margin-left: 0px;
    width: 70%; }
  md-input-container.minutos {
    margin-left: 2%; }
  .puntos {
    margin-left: 0%;
    margin-top: 1.5%; }
  input.minutos {
    width: 100%; }
  input.horas {
    width: 100%; }
  rzslider .rz-bar-wrapper {
    opacity: 1;
    width: 1196px;
    left: 8px; }
  span.rz-pointer {
    left: 1203px; } }

@media screen and (max-width: 750px) {
  md-dialog.md-transition-in.redimensionar {
    float: inherit;
    min-height: 100%;
    max-height: 100%;
    min-width: 100%;
    max-width: 100%;
    overflow-y: hidden; } }

@media screen and (max-width: 650px) {
  rzslider .rz-bar-wrapper {
    opacity: 1;
    width: 600px;
    left: 8px; }
  md-autocomplete {
    width: 55%; }
  span.rz-pointer {
    left: 592px; }
  .md-button.md-fab.md-mini.tec {
    margin-right: 12%; }
  .admin {
    width: 38%;
    margin-right: 0%; } }

@media screen and (max-width: 600px) {
  md-autocomplete {
    width: 55%; }
  md-datepicker.adminFecha {
    margin-left: -18%; } }

@media screen and (min-width: 650px) and (max-width: 1000px) {
  #iconoUsuario {
    margin-top: 6%; }
  .md-button.md-fab.md-mini.adminBtn {
    margin-right: -18%; }
  .md-button.md-fab.md-mini.tec {
    margin-right: 12%; }
  .listaPreguntas {
    width: 78%; } }

@media screen and (min-width: 1001px) and (max-width: 1040px) {
  md-autocomplete {
    width: 68%; }
  md-datepicker {
    margin-left: -12%; }
  .listaPreguntas {
    width: 78%; }
  .md-button.md-fab.md-mini.tec {
    margin-right: 12%; }
  .md-button.md-fab.md-mini.adminBtn {
    margin-right: 11%; } }

@media screen and (min-width: 1040px) and (max-width: 1079px) {
  .md-button.md-fab.md-mini.adminBtn {
    margin-right: 14%; } }

@media screen and (min-width: 1040px) {
  .listaPreguntas {
    width: 80%; } }

@media screen and (min-width: 1080px) and (max-width: 1100px) {
  .md-button.md-fab.md-mini.adminBtn {
    margin-right: -15%; } }

@media screen and (max-width: 645px) {
  .md-button.md-fab.md-mini.adminBtn {
    margin-right: 6%; }
  md-datepicker {
    float: none; }
  span.rz-pointer {
    left: 95%; }
  rzslider .rz-bar-wrapper {
    width: 95%; } }

@media screen and (max-width: 820px) {
  md-autocomplete: 65%; }

@media screen and (max-width: 995px) and (min-width: 651px) {
  md-autocomplete {
    width: 68%; } }

@media screen and (min-width: 650px) and (max-width: 795px) {
  .listaPreguntas {
    width: 99%; }
  .md-button.md-fab.md-mini.adminBtn {
    margin-right: -36%; }
  .admin {
    margin-right: 0%; }
  .adminCheck {
    margin-left: 3%; }
  md-datepicker.adminFecha {
    margin-left: -15%; }
  md-autocomplete {
    width: 62%; }
  #iconoUsuario {
    margin-top: 6%; }
  .md-button.md-fab.md-mini.adminBtn {
    margin-right: -34%; } }

@media screen and (min-width: 800px) and (max-width: 1000px) {
  md-autocomplete {
    width: 60%; }
  md-datepicker.adminFecha {
    margin-left: -22%; } }

@media screen and (min-width: 1041px) and (max-width: 1225px) {
  #iconoUsuario {
    margin-top: 5%; }
  .md-button.md-fab.md-mini.adminBtn {
    margin-right: -14%; }
  md-autocomplete {
    width: 68%; } }

@media screen and (min-width: 900px) and (max-width: 1000px) {
  #iconoUsuario {
    margin-top: 5%; }
  .md-button.md-fab.md-mini.adminBtn {
    margin-right: -17%; }
  md-autocomplete {
    width: 62%; }
  md-datepicker.adminFecha {
    margin-left: -24%; } }

/*# sourceMappingURL=style.css.map */