html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------------------------------------------------------------------*/

$negro: #1E1E1E;
$naranja: #EF6C00;
$grisLetra: #EFEFEF;
$grisFondo: #F6F6F6;
$naranjaClaro: rgba(239,108,0,0.17);

@mixin sombra($h,$v,$blur,$spread, $color) {
	-webkit-box-shadow: $h $v $blur $spread $color;
	-moz-box-shadow: $h $v $blur $spread $color;
	box-shadow: $h $v $blur $spread $color;
}

@mixin bordeRedondeado($a,$b,$c,$d) {
	-moz-border-radius: $a $b $c $d;
	-webkit-border-radius: $a $b $c $d;
	border-radius: $a $b $c $d;
}

@font-face { 
	font-family: 'principal';
	src: url('fonts/Roboto-Thin.ttf');
}

/* ------------------------- HEADER & FOOTER --------------------------------------- */
header {
    background-color: $negro;
    color: $grisLetra;
    height: 90px;
    box-shadow: 2px 2px 30px grey;
}

footer {
  position: fixed;
  bottom: 0;
  background: $negro;
  width: 100%;
  height: 70px;
}

#logo {
    padding-top: 0.5%;
    max-width:85%;
    max-height:85%;
    display: block;
    margin: auto;
}

#logoGFI {
    padding-left: 5%;
    padding-top: 0.5%;
    display: inline;
    max-width:85%;
    max-height:85%;
}

#magniVersion {
    display: inline;
    float: right;
    color: $grisLetra;
    margin-top: 2%;
    margin-right: 2%;
}

#doneLoading {
    height: 5px;
    position: relative;
    background-color: $naranja;
    top: 8%;
    box-shadow: 2px 2px 30px grey;
}

#progressBar {
    top: 8%; 
    box-shadow: 2px 2px 30px grey;
}

md-progress-linear .md-bar {
    background-color: $naranja;
}

md-progress-linear .md-container {
    background-color: rgba(239,108,0,0.17);
}

/* ------------------------- LOG IN --------------------------------------- */
.logIn {
    font-family: 'Roboto', sans-serif;
    background-color: #F5F5F5;
    @include sombra(1px,2px,40px,1px, grey);
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 480px;
    height: 300px;
}

.enBloque {
    margin: auto;
    padding-top: 10px;
    width: 325px;
    height: 60px;
}

.enBloqueCentrado {
    margin: auto;
    padding-top: 45px;
    padding-bottom: 8px;
    width: 325px;
    height: 60px;
}

.derecha {
    text-align: right;
    padding-right: 13%;
}

/*Textbox*/
md-input-container:not(.md-input-invalid).md-input-focused .md-input{
    border-color: $naranja;
}

md-input-container:not(.md-input-invalid).md-input-focused label {
    color: $naranja;
}

/*Checkbox*/
md-checkbox.md-checked .md-ink-ripple {
    color: $naranja;
}

md-checkbox.md-checked .md-icon {
    background-color: $naranja;
}

md-checkbox.md-default-theme.md-checked.md-focused .md-container:before, md-checkbox.md-checked.md-focused .md-container:before {
    background-color: rgba(239,108,0,0.17);
}

/*Button*/
.md-button.md-raised {
    color: $grisLetra;
    background-color: $naranja;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.md-input-container .md-input {
    width: 300px;
}

.md-button.md-raised:not([disabled]):hover {
    background-color: #F19E5A;
}

/*Toast*/
md-toast.md-default-theme, md-toast {
    background-color: $naranja;
    color: $grisLetra;
}
.md-button.md-raised:not([disabled]).md-focused {
    background-color: $naranja;
}

/*Tab*/
md-tabs.md-accent > md-tabs-wrapper {
    background-color: white;
}

md-content md-tabs {
    background: $grisFondo;
    vertical-align: middle;
}

md-tabs.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]) {
    color: #B5B4B4;
}

md-tabs.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active {
    color: $negro;
}

md-tabs.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-ink-bar {
    color: $naranja;
    background: $naranja;
}

md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
    min-height: 300px;
}

.md-padding {
    padding: 0px;
}

/*------------------------------TECNICO*------------------------------*/
/*Crear pregunta*/

.md-button.md-fab {
    background-color: $naranja;
}

.md-button.md-fab:not([disabled]):hover {
    background-color: #F19E5A;
}

.md-button.md-fab:not([disabled]).md-focused {
    background-color: #BC5500;
}

md-toolbar:not(.md-menu-toolbar) {
    background-color: $naranja;
    color: $grisLetra;
}

.dialogdemoBasicUsage #popupContainer {
  position: relative;
}

md-dialog.md-transition-in {
    min-width: 500px;
    min-height: 300px;
}

md-tabs .md-tab.md-active {
    color: $negro;
}

md-tabs md-ink-bar {
    background: $naranja;
}

.contenidoTablaCrear {
    padding: 22px;
}

md-slider .md-thumb:after {
    border-color: $naranja;
    background-color: $naranja;
}

md-slider .md-sign {
    background-color: $naranja;
}

md-slider .md-sign:after {
    border-top-color: $naranja;
}

md-slider .md-track.md-track-fill {
    background-color: $naranja;
}

.sliderdemoBasicUsage input[type="number"] {
  text-align: center;
  padding-left: 10px;
}

/*input tema*/
.chipsdemoCustomInputs md-content.autocomplete {
  min-height: 200px; }
.chipsdemoCustomInputs input[type=number] {
  width: 110px; }
.chipsdemoCustomInputs .veggie-option {
  float: left;
  width: 20%;
  box-sizing: border-box;
  padding: 0 8px; }
.chipsdemoCustomInputs .veggie-option .md-item-text {
  padding: 8px;
  background: #f0f0f0;
  border-radius: 3px; }
.chipsdemoCustomInputs .veggie-option .md-item-text h3, .chipsdemoCustomInputs .veggie-option .md-item-text p {
  padding: 0;
  margin: 0; }

