<!DOCTYPE html>
<html lang="es" ng-app="magni" class="no-js" > 
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        
		<title>Base Front</title>

		<!-- build:CSSCDNs -->
		
		<!-- AQUI IRAN LOS CSS QUE TENGAN CDN-->
		<link rel="stylesheet" type="text/css" href="css/angular-material.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/rzslider.css"/>
		<link rel="stylesheet" type="text/css" href="css/introjs.css"/>
		<!-- endbuild -->
       
		<!-- AQUI IRAN LOS CSS NUESTROS QUE NO TENGAN CDN-->
		<link rel="stylesheet" href="css/style.css" />
	</head>
	<body>

		<header ng-init="cargando=false;logueado=false">
            <img id="logo" src="img/argos.png" ng-hide="logueado">
            <img id="logoLogeado" src="img/argos.png" ng-show="logueado" ng-cloak>
            <p id="iconoUsuario" ng-model="rolUsuario" ng-show="logueado" ng-cloak>
                {{usuario}} / {{rol}}
				<md-button aria-label="ayuda" ng-click="lanzarAyuda()"
						   class="md-button icon centrarIconoLista explosionIcono iconosHeader">
					<md-icon class="iconoBlanco" md-svg-src="img/ayuda.svg"></md-icon>
				 </md-button>
				<md-button ng-click="$root.cerrarSesion()" aria-label="cerrar sesion" 
						   class="md-button icon centrarIconoLista explosionIcono">
					<md-icon class="iconoBlanco" md-svg-src="img/cerrarSesion.svg"></md-icon>
				 </md-button>
            </p>
            <div id="doneLoading" class="doneLoadingLogIn" ng-hide="cargando"></div>
            <md-progress-linear id="progressBar" md-mode="indeterminate" ng-show="cargando"></md-progress-linear>
		</header>
        
		<div ng-view ng-intro-options="introOptions" ng-intro-method="lanzarAyuda">
		</div>
             
		<footer ng-show="conFooter">
			<img id="logoGFI" src="logoBlanco.png">
            <p id="magniVersion">
				<a href="/#/equipo" target="_blank">Equipo</a>
                2015 Gestión de Entrevistas | v1.0
            </p>
		</footer>

		<!-- build:JSCDNs -->
		<script src="js/angular.js"></script>
        <script src="js/rzslider.min.js"></script>
		<script src="js/angular-animate.min.js"></script>
		<script src="js/angular-route.min.js"></script>
		<script src="js/angular-messages.min.js"></script>
		<script src="js/angular-aria.min.js"></script>
		<script src="js/angular-material.js"></script>
		<script src="js/assets-cache.js"></script>
		<script src="js/angular-material-icons.min.js"></script>
		<script src="js/intro.min.js"></script>
		<!-- endbuild -->
		<!-- build:JS -->
		<script src="services.js"></script>
		<script src="app.js"></script>
		<script src="config.js"></script>
		<script src="modulos/logIn/controladorLogIn.js"></script>
        <script src="modulos/admin/controladorAdmin.js"></script>
        <script src="modulos/admin/controladorAdminCrear.js"></script>
		<script src="modulos/admin/controladorVerAdmin.js"></script>
        <script src="modulos/tec/controladorTec.js"></script>
        <script src="modulos/tec/controladorCrear.js"></script>
		<script src="modulos/tec/controladorVer.js"></script>
		<script src="modulos/entrevista/controladorEntrevista.js"></script>
		<script src="modulos/entrevista/controladorRespuestasEntrevista.js"></script>
		<script src="modulos/equipo/controladorEquipo.js"></script>
		
		<!-- endbuild -->
		<script src="js/AES.min.js"></script>

	</body>
</html>