<div>
    <md-button class="md-fab md-mini" ng-click="showTabDialog($event)" aria-label="crearPregunta">
        <md-icon md-svg-src="img/crear.svg"></md-icon>
    </md-button>
    
    <p></p>
    
    <input type=button value="+" ng-click="crear()"/>
    <md-list>
        <md-subheader class="md-no-sticky">Preguntas</md-subheader>
        <md-divider></md-divider>
        <md-list-item class="md-3-line" ng-repeat="item in preguntas">
            <div class="md-list-item-text" layout="column">
                <h3>
                    {{ item.titulo }}
                </h3>
                <h4>
                    {{ item.tema }} / {{ item.nivel }}
                </h4>
                <p>
                    {{ item.tipo }}
                </p>
            </div>
            <input type=button value="ver" ng-click="ver()"/>
            <input type=button value="Eliminar" ng-click="eliminar($index)"/>
            <md-divider></md-divider>
        </md-list-item>
    </md-list>
</div>