<md-dialog class="redimensionar" ng-init="error=false;req=false;mini=false;maxi=false;crear=true">
        <form>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>
                        Crear entrevista {{cabeceraCrear}}
                    </h2>
                    <span flex></span>
					<md-button aria-label="ayuda" ng-click="ayuda()" 
						   class="md-button icon centrarIconoLista explosionIcono iconosHeader">
						<md-icon class="iconoBlanco" md-svg-src="img/ayuda.svg"></md-icon>
						<md-tooltip md-direction="bottom">
							Ayuda
						</md-tooltip>
					</md-button>
					
                    <md-button class="md-icon-button" aria-label="cerrarCrearPregunta" ng-click="cancel()" 
							   ng-show="haciendoEntrevista">
                        <md-icon md-svg-src="img/cerrar.svg"></md-icon>
                    </md-button>

                </div>
            </md-toolbar>
            <md-dialog-content ng-model="conte" ng-show="crear">
                <md-content>
                    <div class="contenidoTablaCrear tablaAdmin" ng-show="haciendoEntrevista" layout="column">
                        <md-input-container class="md-block inputCrearEntrevista" flex>
                            <label>Nombre y apellidos *</label>
                            <textarea required ng-model="nombreEntrevista"></textarea>
							<div ng-messages="nombreEntrevista.$error">
								<div ng-message="required">Este campo es obligatorio</div>								
							</div>
                        </md-input-container>
                        <md-input-container class="md-block inputCrearEntrevista" flex>
                            <label>DNI</label>
                            <textarea ng-model="dniEntrevista"></textarea>
                        </md-input-container>
      
						<span layout="row" flex>
							<md-datepicker required ng-model="fecha" md-placeholder="Introducir fecha" 
										   class="divFechaAdmin calendario" flex="30">
								<div ng-messages="fecha.$error">
									<div ng-message="required">
										Debe introducir una fecha.
									</div>
								</div>
							</md-datepicker>
							
							<md-input-container class="md-inline horas" flex="20">
								<input required type="number" step="any" ng-model="horas" min="08" max="20" 
									   placeholder="Hora *">
								<div ng-messages="horas.$error">
									<div ng-message-exp="['required', 'min', 'max']">
										La jornada comprende entre las 8 y 20 h.
									</div>
								</div>
							</md-input-container>

							<span class="dosPuntos" flex="5">:</span>
							<md-input-container class="md-inline horas" flex="20">
								<input required type="number" step="any" ng-model="minutos" min="00" max="59" 
									   placeholder="Minutos *">
								<div ng-messages="horas.$error">
									<div ng-message-exp="['required', 'min', 'max']">
										Los valores deben estar entre 0 y 59.
									</div>
								</div>
							</md-input-container>
							<md-input-container class="md-inline horas" flex="30">
								<input required type="number" step="any" ng-model="numPreguntas" min="0" 
									   placeholder="Número de preguntas *">
								<div ng-messages="horas.$error">
									<div ng-message-exp="['required', 'min']">
										Debe ser un número positivo.
									</div>
								</div>
							</md-input-container>
						</span>
						
						<div ng-repeat="respuestas in temasChip" flex>
							<span>	
								<rzslider rz-slider-model="minSliderValue[$index].minSliderG"
											  rz-slider-high="minSliderValue[$index].maxSliderG" 
											  rz-slider-options="minSliderValue[$index].options"></rzslider>
								<md-chips ng-model="temasEntrevista[$index]" md-autocomplete-snap="" 
									  md-transform-chip="transformChip($chip, $index)" md-require-match="false">
									<md-autocomplete id="aptitudes" md-selected-item="selectedItem" md-search-text="searchText"
												 md-items="item in queryBuscarTema(searchText)"
												 md-item-text="item.valor"
												 placeholder="Aptitudes">
										<span md-highlight-text="searchText">
											{{item.tag}}
										</span>
									</md-autocomplete>
									<md-chip-template>
										<span> {{$chip.tag}} </span>
									</md-chip-template>
								</md-chips>
							</span>
						</div>
							
						<md-button class="md-fab md-mini" ng-click="$root.aniadirSliderTemas()" 
								   aria-label="crearPregunta">
							<md-icon md-svg-src="img/mas.svg"></md-icon>
						</md-button>
						
						
						
						<div class="alert alert-warning cortarAlertWarning alertWarningEntrevista" ng-show="error">
							<span>
								<p class="mensajeAlert">No hay suficientes preguntas para esta(s) aptitud(es).</p>
								<md-button aria-label="eliminar" ng-click="error = false" 
									   class="md-button icon explosionIcono entendidoCrearEntrevista">
									<md-icon md-svg-src="img/ok.svg"></md-icon>
								</md-button>
							</span>
							<p class="mensajeAlert">{{ mensajeError }}</p>
							<p ng-repeat="tema in temaError" class="mensajeAlertRepeat" ng-show="hayRangoEntrevista">
								{{ tema.tag }} con rango {{ tema.min }} - {{ tema.max }}
							</p>
						</div>
                        
                        <md-button class="md-raised" ng-click="crearEntrevista()">
							Guardar
						</md-button>
					</div>
						<div class="mensajeEntrevistaCreada" ng-show="!haciendoEntrevista">
							<p ng-repeat="linea in mensaje" ng-if="$first" class="txtMensajeEntrevista">
								{{ linea }}
							</p>
							<p ng-repeat="linea in mensaje" ng-if="!$first" class="txtMensajeEntrevista">
								- {{ linea }}
							</p>
							<md-button class="md-raised btnMensajeEntrevista" ng-click="hide()">
								Cerrar
							</md-button>
						</div>
                    
                </md-content>
			</md-dialog-content>
			<md-dialog-content ng-show="!crear" class="ayuda">
				<div class="alert alert-info alertAyuda">
					<p>Con el calendario seleccionará la fecha en la que se realizará la entrevista.</p>
					<md-datepicker ng-model="fechaAyuda" md-placeholder="Introducir fecha" class="ayudaFecha"></md-datepicker>
				</div>
				<div class="alert alert-info alertAyuda">
					<p>En los siguientes campos deberá introducir la hora.</p>
					<md-input-container class="horasAyuda">
						<input type="number" step="any" min="08" max="20" 
							   placeholder="Hora *">
					</md-input-container>
					<md-input-container class="md-inline">
						<input type="number" step="any" min="00" max="59" 
							   placeholder="Minutos *">
					</md-input-container>
				</div>
				<div class="alert alert-info alertAyuda">
					<p>En este campo pondrá el número de preguntas que desee para la entrevista.</p>
					<md-input-container class="md-inline horas">
						<input required type="number" step="any" min="0" 
							   placeholder="Número de preguntas *">
						
					</md-input-container>
				</div>
				<div class="alert alert-info alertAyuda">
					<p>El slider es para seleccionar la dificultad de una o varias aptitudes de la entrevista.</p>
					<img id="rango" src="img/rango.png">
				</div>
				<div class="alert alert-info alertAyuda">
					<p>
						En el campo <span class="letraNegrita">Aptitudes</span>
						podrá seleccionar una o varias aptitudes que desea que tenga el entrevistado.
					</p> 
					<p>El rango de dificultad de estas aptitudes es el seleccionado en el slider anterior.</p>
				</div>
				<div class="alert alert-info alertAyuda btnMas">
					<p>El siguiente botón es para añadir otro slider y campo de aptitudes.</p>
					<md-button class="md-fab md-mini btnAyuda" aria-label="crearPregunta">
						<md-icon md-svg-src="img/mas.svg"></md-icon>
					</md-button>
				</div>
				<div class="alert alert-info alertAyuda">
					<p>Con este botón creará la entrevista.</p>
					<md-button class="md-raised btnMensajeEntrevistaAyuda">
						Guardar
					</md-button>
				</div>
			</md-dialog-content>
	</form>
</md-dialog>