<div>
    <md-dialog>
        <form>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>
                        Crear pregunta
                    </h2>
                    <span flex></span>
                    <md-button class="md-icon-button" aria-label="cerrarCrearPregunta" ng-click="cancel()">
                        <md-icon md-svg-src="img/cerrar.svg"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            
            <md-dialog-content>
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="test">
                        <md-content class="md-padding">
                            <div class="contenidoTablaCrear">
                                <md-slider flex="" md-discrete="" ng-model="barra" step="1" min="1" max="10" aria-label="rating">
                                </md-slider>
                            </div>                    
                        </md-content>
                    </md-tab>
                    
                    <md-tab label="pregunta abierta">
                        <md-content class="md-padding">
                            <p>
                                ------------------CONTENIDO TABLA PREGUNTA ABIERTA------------------
                            </p>
                        </md-content>
                    </md-tab>
                
                    <md-tab label="test abierto">
                        <md-content class="md-padding">
                            <p>
                                ------------------CONTENIDO TABLA TEST ABIERTO------------------
                            </p>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </md-dialog-content>
        </form>
    </md-dialog>
</div>