<div>
    <md-button mfb-button class="md-fab md-mini" ng-click="crear($event)" aria-label="crearPregunta">
        <md-icon md-svg-src="img/crear.svg"></md-icon>
    </md-button>

    <p></p>
    
	<div>
		<md-autocomplete ng-disabled="ctrl.isDisabled" 
					 md-no-cache="ctrl.noCache" 
					 md-selected-item="ctrl.selectedItem" 
					 md-search-text-change="ctrl.searchTextChange(ctrl.searchText)" 
					 md-search-text="ctrl.searchText" 
					 md-selected-item-change="ctrl.selectedItemChange(item)" 
					 md-items="item in ctrl.querySearch(ctrl.searchText)" 
					 md-item-text="item.tag" 
					 md-min-length="0" 
					 placeholder="Buscar por tema">
        <md-item-template>
          <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.tag}}</span>
        </md-item-template>
        <md-not-found>
          No se ha encontrado el tema.
        </md-not-found>
      </md-autocomplete>
	</div>
	<md-list>
        <md-subheader class="md-no-sticky">Preguntas</md-subheader>
        <md-divider></md-divider>
      	<md-list-item class="md-3-line" ng-repeat="item in preguntas">
            <div class="md-list-item-text" layout="column">
                <h3>
                    {{ item.title }}
                </h3>
                <h4>
                    {{ item.tags }} <!--<span ng-repeat="tag in item.tags">{{ tag }} </span>-->/ {{ item.level }}
                </h4>
                <p>
                    {{ item.type }}
                </p>
            </div>
		  	<md-button ng-click="ver($event)" aria-label="ver pegrunta">
				<ng-md-icon icon="search" size="20"></ng-md-icon>
				<md-tooltip md-direction="bottom">
				  Ver
				</md-tooltip>
			 </md-button>
	
		  	<md-button aria-label="eliminar" ng-click="eliminar($index)">
				<ng-md-icon icon="delete" size="20"></ng-md-icon>
				<md-tooltip md-direction="bottom">
				  Eliminar
				</md-tooltip>
			 </md-button>
            <md-divider></md-divider>
        </md-list-item>
    </md-list>

</div>
