<md-dialog aria-label="Mango (Fruit)"  ng-cloak>
	<form>
    	<md-toolbar>
      		<div class="md-toolbar-tools">
        		<h2>Ver pregunta</h2>
                <span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon md-svg-src="img/cerrar.svg" aria-label="Close dialog"></md-icon>
                </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      
		<div class="md-dialog-content">
            
            <p ng-bind="temas_nivel"></p>  
            <p ng-bind="titulo"></p>       
            <p ng-bind="directiva"></p>
            <div ng-repeat="item in items">
                <md-checkbox ng-disabled="true" ng-model="item.esCorrecta">{{item.respuesta}}</md-checkbox>
            </div>
      </div>
		
    </md-dialog-content>
  </form>
</md-dialog>