<div id="seccionTec">
    <md-list>
		<div class="cabeceraTec">
			<md-button mfb-button class="md-fab md-mini btnPosDerecha tec" ng-click="crear($event)" aria-label="crearPregunta">
				<md-icon md-svg-src="img/crear.svg" class="btnIconoCentrado"></md-icon>
			</md-button>
			
			<md-subheader class="md-no-sticky">Preguntas</md-subheader>
			
			<md-divider class="dividerPrincipal"></md-divider>

			<md-icon md-svg-src="img/lupa.svg" class="iconoBuscar"></md-icon>
			<md-chips class="chipsTec" ng-model="listaTemas" 
					  md-autocomplete-snap=""
					  md-transform-chip="transformChip($chip)" 
					  md-require-match="false"
					  md-on-remove="deleteChip()">
				
				<md-autocomplete md-selected-item="selectedItem" 
								 md-search-text-change="searchTextChange(searchText)" 
								 md-search-text="searchText" 
								 md-selected-item-change="selectedItemChange(item)" 
								 md-items="item in queryBuscarTema(searchText)" 
								 md-item-text="item.valor" 
								 md-min-length="0"
								 placeholder="Buscar por aptitudes">
					<span md-highlight-text="searchText">
						{{item.tag}}
					</span>
				</md-autocomplete>
				
				<md-chip-template>
					<span> {{$chip.tag}} </span>
				</md-chip-template>
			</md-chips>

		</div>
      	<div class="listaPreguntasTec">
			<p ng-show="hayPreguntas" class="mensajeEntrevista">No hay preguntas para esta(s) aptitud(es)</p>
			<md-list-item class="md-3-line hoverLista" ng-repeat="item in preguntas">
				<div class="md-list-item-text" layout="column">
					<h3>
						{{ item.title }}
					</h3>
					<h4>
						<span ng-repeat="tag in item.tags" ng-if="$first">{{ tag }} </span>
						<span ng-repeat="tag in item.tags" ng-if="!$first">, {{ tag }} </span>/ {{ item.level }}
					</h4>
					<p>
						{{ item.type }}
					</p>
				</div>
				<md-button id="ver" ng-click="ver($event,$index)" aria-label="ver pegrunta" 
						   class="md-button icon centrarIconoLista explosionIcono">
					<md-icon md-svg-src="img/ojo.svg"></md-icon>
					<md-tooltip md-direction="bottom">
					  Ver
					</md-tooltip>
				 </md-button>

				<md-button id="eliminar"aria-label="eliminar" ng-click="eliminar($index)" class="md-button icon centrarIconoLista explosionIcono">
					<md-icon md-svg-src="img/delete.svg"></md-icon>
					<md-tooltip md-direction="bottom">
					  Eliminar
					</md-tooltip>
				 </md-button>
				<md-divider></md-divider>
			</md-list-item>
		</div>
    </md-list>

</div>
