<div class="logIn">
	<div class="enBloque">
		<md-input-container class="md-block">
			<label>Usuario</label>
			<input required name="user" ng-model="user">
			<div ng-messages="user.$error">
				<div ng-message="required">Debe introducir un usuario</div>
			</div>
		</md-input-container>
	</div>
	
	<div class="enBloque">
		<md-input-container class="md-block">
			<label>Contraseña</label>
			<input required type="password" name="pass" ng-model="pass" ng-keypress="enter($event)">
			<div ng-messages="pass.$error">
				<div ng-message="required">Debe introducir una contraseña</div>
			</div>
		</md-input-container>
	</div>
	
	<div class="derecha">
		<md-checkbox ng-model="checkRecordar" ng-change="cambioCheck()">
			No cerrar sesión
		</md-checkbox>
	</div>
	
	<div>
		<md-button class="md-raised" ng-click="login()">Iniciar sesión</md-button>
		<md-button class="md-raised" ng-click="admin()">Administrador</md-button>
		<md-button class="md-raised" ng-click="tec()">Técnico</md-button>
	</div>
</div>